* {
    box-sizing:border-box;
}
body {
    margin: 0;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #212529;
	background-color:1338BE;	
	height:100%;
	font-family: sans-serif;
    overflow-y:hidden;
}
.grid {
    padding:10px;
    background: 1338BE;
    position:relative;
    transform-origin:center left;
    font-size:24px;
    display:flex;
    height:100vh;
    flex-direction:column;
    align-items:stretch;

}
.grid-row {
    display:flex;
    flex:1;
}
.grid-cell {
    border:3px solid black;
    overflow:hidden;
    position:relative;
    background-color:1338BE;
    flex:1;
}

.grid-last-row {
    border-bottom:3px solid black;
}

.grid-first-row {
    border-top:3px solid black;
}

.grid-row-questions {
    border-left:3px solid black;
    border-right:3px solid black;
}

.grid-row-cats .grid-cell {
    border-color:transparent;
    color: white;
}

.cell-group {
    backface-visibility:hidden;
    color: gold;
}

.cell {
    position:absolute;
    display:flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    backface-visibility:hidden;
	perspective: 1000px;
	transform-style: preserve-3d;
    width:100%;
    height:100%;
}

.cell.back {
	transform: rotateY(180deg);
}

.cell.front {
	z-index:2;
}

.answer,.question {
    cursor:pointer;
    overflow:hidden;
}

.answer, .question, .cell-group, .category {
	transition: .3s;
}

.cell-group:hover {
    border-color:yellow;
}

.cell-group:hover .front  {
	transform: rotateY(180deg);
}

.cell-group:hover .back  {
	transform: rotateY(0deg);
}

.cell-group:hover .back, .cell-group:hover .front {
    border-color:yellow;
}

.cell-group:hover .back, .cell-group:hover .front {
	transition: .6s;
}

.cell-group.empty {
    pointer-events:none;
}

.cell-group.empty:hover {
    border-color:black;
    transform:none;
}
.points .question, .points .answer {
    display:none;
}

.grid-play .cell-group {
    cursor:pointer;
}

.grid-play .cell-group:hover {
    background-color:rgba(255,255,255, .05);
}

.grid.grid-play {
    background: none;
}